<link rel="stylesheet" href="{{ asset('assets/css/footer.css') }}" type="text/css" />

<footer>

    <div class="footer-container py-5">
        <div class="footer-logo">
            <a href="{{ path('app_home') }}">
                <img src={{ asset("assets/images/logo_knowledge.png") }} alt="Logo Knowledge" class="logo">
            </a>
        </div>

        <div class="footer-info">
            <address>
                <p>Knowledge E-learning</p>
                <p>1 rue du Savoir</p>
                <p>75001 Paris</p>
                <a href="https://www.knowledge-elearning.fr">knowledge-elearning.fr</a>
            </address>
        </div>
    </div>
</footer>