<link rel="stylesheet" href="{{ asset('assets/css/footer.css') }}" type="text/css" />

<footer>

    <div class="footer-container py-5">
        <div class="footer-logo">
            <a href="{{ path('app_home') }}">
                <img src={{ asset("assets/images/logo_knowledge.png") }} alt="Logo Knowledge" class="logo">
            </a>
        </div>

        <div class="footer-info">
            <address>
                <p class="footer-title">Informations de la société</p>
                <p>Nom de la société: Knowledge</p>
                <p>Adresse: 1 Rue de l'adresse, Centre ville du centre</p>
                <p>adresse de contact: knowledge@learning.com</p>
            </address>
        </div>
    </div>
</footer>