{% extends 'base.html.twig' %}

{% block title %}Knowledge-Learning{% endblock %}

{% block body %}
<link rel="stylesheet" href="{{ asset('assets/css/home.css') }}" type="text/css" />

<div class="container my-5">
    <div class="row">
        <div class="col-12 text-center">
            <h1>Plateforme Knowledge-Learning</h1>
        </div>
    </div>
    
    <div class="row mt-5">
        <div class="col-12 col-lg-8">
            <h2>Présentation</h2>
            <p>
                La société éditrice Knowledge est connue pour ses supports de formation vendus en librairie.
                Knowledge propose des formations sous forme de livres ou de kits dans les domaines de la
                musique, de l’informatique ou du jardinage, par exemple.
                Knowledge propose désormais sa gamme de produits en ligne ses
                formations sur un site e-learning».
            </p>
        </div>
    </div>
    
    <div class="row mt-4">
        <div class="col-12 text-center">
            <p>Inscrivez-vous et commencez à apprendre !</p>
        </div>
    </div>
</div>

{% endblock %}
