
.security-form{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.login-form{
    width: 20vw;
    border: 1px solid #444;
    padding: 15px;
   
}

button{
    background-color: #82b864 !important;
    color:white !important;
    margin-top: 1rem;
}