
.register{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.register-form{
    width: 20vw;
    border: 1px solid #444;
    padding: 15px;
    background-color: #0074c7;
}

.form{
    display: flex;
}

.titre-register{
    font-size: 1.35rem;
    margin-top: 0;
    margin-bottom: 5;
}

button{
    background-color: #82b864 !important;
    color:white;
    margin-top: 1rem;
}