{% extends 'base.html.twig' %}

{% block title %}cancel_payment{% endblock %}

{% block body %}


<div class="container my-2">

    <h1>Paiement annulé.</h1>

    <p>Votre paiement a été annulé. Si vous avez des questions, n'hésitez pas à nous contacter.</p>
    
</div>
{% endblock %}
