{% extends 'base.html.twig' %}

{% block title %}cancel_payment{% endblock %}

{% block body %}


<div class="container my-2">

    <h1>Paiement annulé.</h1>

    <p>Opération annulée. Veuillez réessayez.</p>
    
</div>
{% endblock %}
